.md-header {
  height: 200px;
  padding: 1.5rem 0;
  background-color: rgb(225, 223, 223);
  color: darkgrey;
}

.md-header__title,
.md-header__topic,
.md-ellipsis {
  color: darkgrey;
}

.md-tabs {
  background-color: orange;
}

.md-tabs__link {
  color: white;
  font-weight: bold;
}

.md-tabs__link:hover,
.md-tabs__link--active {
  color: white;
}

.md-header__inner {
  height: 100%;
}

.md-header__title {
  font-size: 1.8rem;
  font-weight: bold;
}

.md-header__button.md-logo img {
  height: 68px;
  width: auto;
}
